<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="myget.travix.com" value="https://travix-int.myget.org/F/private-nuget/auth/237e7bc9-de03-4287-8fac-1b5a5bb39db8/api/v3/index.json" />
  </packageSources>
</configuration>